<div class="row background_color_one lesson_show_title">
  <div class="lesson_info small-12 columns">
    <h1>{{name}}</h1>
    {{! <p>{{date}} {{! </p> }}
  </div>
</div>
<div class="row">
  <div class="small-12 large-6 columns">
    <div class="lesson_wrapper">
      <img class="book_image" {{bindAttr src="imageLargeUrl"}}>
    </div>
  </div>
  <div class="small-12 large-6 columns biblebook_list">
     <h2>Teachings in &nbsp; <span class="hh1">{{name}}</span></h2>
     <ul class="biblebook_teaching_list">
      {{#each model.lessons}}
        <li>{{lesson.title}}</li>
      {{/each}}
{{!        <li>1 Thessalonians 1 : 9 - 20</li>
       <li>1 Thessalonians 2 : 9 - 20</li>
       <li>1 Thessalonians 2 : 1 - 8</li>
       <li>1 Thessalonians 3</li>
       <li>1 Thessalonians 4 : 1 - 12</li>
       <li>1 Thessalonians 4 : 13 - 18</li> }}
     </ul>
  </div>


</div>

<div class="view_bar">
  {{#if currentUser.isSignedIn}}
  <div class="vew_bar_right">
    {{#view App.EditBiblebook}}
      <span id="edit_button_id">{{id}}</span>
      <span class="button">Edit</span>
    {{/view}}
  </div>
  <div class="vew_bar_right">
    <a href='#' {{action 'destroy'}} class="button">Delete</a>
  </div>
  {{/if}}
   <div class="vew_bar_right">
    {{#linkTo "biblebooks" class="button"}}Back{{/linkTo}}
  </div>
</div>
