<div class="row background_color_two lesson_show_title">
  <div class="lesson_info small-12 columns">
    <h1>{{name}}</h1>
    {{! <p>{{date}} {{! </p> }}
  </div>
</div>

{{#if currentUser.isSignedIn}}
  <div class="view_bar">
    <div class="vew_bar_right">
      {{#view App.EditBiblebook}}
        <span id="edit_button_id">{{id}}</span>
        <span class="button">Edit</span>
      {{/view}}
    </div>
    <div class="vew_bar_right">
      <a href='#' {{action 'destroy'}} class="button">Delete</a>
    </div>
  </div>
{{/if}}


<div class="row">
  <div class="small-12 large-6 columns">
    <div class="lesson_wrapper">
      <img class="book_image" {{bindAttr src="imageLargeUrl"}}>
    </div>
    <div class="small-12 columns">
      <div class="back_to_biblebooks">
        {{#linkTo biblebooks class="button"}}&larr; back to Bible books{{/linkTo}}
      </div>
    </div>
  </div>
  <div class="small-12 large-6 columns biblebook_list">
    <h2 style="display:none;"><span id="teaching_biblebook" class="hh1">{{name}}</span></h2>
    <div id="jp_container_1" class="jp-playlist">
      <ul class="biblebook_teaching_list">
        {{#each lessons}}
          <li class="clearfix">
            {{link}}
          </li>
        {{/each}}
      </ul>
    </div>
  </div>


</div>


