<div class="row background_color_one lesson_show_title">
  <div class="lesson_info small-12 columns">
    <h1>{{name}}</h1>
    {{! <p>{{date}} {{! </p> }}
  </div>
</div>
<div class="row">
  <div class="small-12 large-6 columns">
    <div class="lesson_wrapper">
      <img class="book_image" {{bindAttr src="imageLargeUrl"}}>
    </div>
  </div>
  <div class="lesson_container small-12 large-6 columns">
     <h1>{{name}}</h1>
  </div>
</div>

<div class="view_bar">
  {{#if currentUser.isSignedIn}}
  <div class="vew_bar_right">
    {{#view App.EditBiblebook}}
      <span id="edit_button_id">{{id}}</span>
      <span class="button">Edit</span>
    {{/view}}
  </div>
  <div class="vew_bar_right">
    <a href='#' {{action 'destroy'}} class="button">Delete</a>
  </div>
  {{/if}}
   <div class="vew_bar_right">
    {{#linkTo "biblebooks" class="button"}}Back{{/linkTo}}
  </div>
</div>
