<div class="edit_header">&nbsp;</div>

<div class="container clearfix">
  <div class="form_box">

    <h1>Sign Up</h1>

    <%= form_for @user do |f| %>
      <% if @user.errors.any? %>
        <div class="error_messages">
          <h2>Form is invalid</h2>
          <ul>
            <% for message in @user.errors.full_messages %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <div>
        <%= f.label :email %>
        <%= f.text_field :email %>
      </div>
      <div>
        <%= f.label :password %>
        <%= f.password_field :password %>
      </div>
      <div>
        <label for="user_password_confirmation">confirm<br> password</label>
        <%= f.password_field :password_confirmation %>
      </div>
      <%= f.submit :class => "button" %>
    <% end %>

  </div>
</div>
