<div class="row" id="posts">
  <div class="posts_list small-12 columns">
    {{#linkTo "posts.show" this}}
      <img {{bindAttr src="imageMediumUrl"}}>
      <h2>{{title}}</h2>
      <h2 class="posts_summary">
        {{summary}}
      </h2>
    {{/linkTo}}
      <p>{{date}}<p>
      <p>{{context}}</p>

  </div>
</div>
