<div class="row post_header">
  <div class="small-8 columns">
    {{#linkTo "posts.show" this}}
      <h1>{{title}}</h1>
      <h2>{{summary}}</h2>
    {{/linkTo}}
    <p>{{date}}</p>
  </div>
  <div class="small-4 columns">
    {{#linkTo "posts.show" this}}<img {{bindAttr src="imageMediumUrl"}} class="image" />{{/linkTo}}
  </div>
</div>

<div class="row posts">
  <div class="posts_list small-12 columns">
    <p>{{context}}</p>
  </div>
</div>
