<div class="row">
  <div class="post_container large-6 small-12 columns">
  </div>
  <div class="post_info large-6 small-12 columns">
    <h2>{{title}}</h2>
    <p>{{summary}}</p>
    <p>{{context}}</p>
    <p>{{date}}</p>
    <p class="hidden_div" id="edit_button_id">{{id}}</p>
  </div>
</div>
<div class="view_bar">
  <div class="vew_bar_right">
    {{#view App.EditPost}}
      <span class="button">Edit</span>
    {{/view}}
  </div>
</div>
