<div>
  <%= form.label :title %>
  <%= form.text_field :title %>
</div>
<div>
  <%= form.label :summary %>
  <%= form.text_field :summary %>
</div>
<div>
  <%= form.label :image %>
  <%= form.file_field :image, :style => "margin-top:10px; line-height:2em; width:300px;" %>
</div>
<div>
  <label></label>
  <%= form.submit  :class => "button" %>
  <a href="/#/posts" class="button">&larr; posts</a>
</div>
