<div>
  <%= form.label :name %>
  <%= form.text_field :name %>
</div>
<div>
  <%= form.label :position %>
  <%= form.text_field :position %>
</div>
<div>
  <%= form.label :image %>
  <%= form.file_field :image, :style => "margin-top:10px; line-height:2em; width:300px;" %>
</div>
<div>
  <label></label>
  <%= form.submit  :class => "button" %>
  <a href="/#/biblebooks" class="button">&larr; Bible books</a>
</div>

