<div class="row">
  <div class="small-12 large-4 columns">
    <br><br>
     <img {{bindAttr src="imageLargeUrl"}} class="image" />
     <br><br><br>
     <a href="{{buylink}}" target="_blank" class="button" style="margin:0px 0 30px 100px">amazon</a>
   </div>
   <div class="small-12 large-8 columns">
    <h1 style="text-align:left; margin:30px 0 0 0px;">{{title}}</h1>
    <p style="margin:0px;">by &nbsp; <span class="hh2">Nate Holdridge</span></p>
    <h2 class="books_summary">
      {{summary}}
    </h2>
      <div class="background_color_two box">
        <p>{{context}}</p>
      </div>
  </div>
</div>
<div class="view_bar">
  {{#if currentUser.isSignedIn}}
  <div class="vew_bar_right">
    {{#view App.EditBook}}
      <span id="edit_button_id">{{id}}</span>
      <span class="button">Edit</span>
    {{/view}}
  </div>
  <div class="vew_bar_right">
    <a href='#' {{action 'destroy'}} class="button">Delete</a>
  </div>
  {{/if}}
   <div class="vew_bar_right">
    {{#linkTo "books" class="button"}}Back{{/linkTo}}
  </div>
</div>
