<div class="lessons_list large-3 small-6 columns">
  <div class="play_mark_small2 play_button paused">{{mp3}}</div>
  {{#linkTo "lessons.show" this}}
    <img {{bindAttr src="imageUrl"}}>
    <h2 class="lessons_summary">
      {{summary}}
    </h2>
    <h2>{{title}}</h2>
    <h3>{{date}}</h3>
  {{/linkTo}}
</div>
