<div class="row background_color_two lesson_show_title">
  <div class="lesson_info small-12 columns">
    <h1>{{title}}</h1>
    <p class="center">{{summary}}</p>
     {{! <h4>More teachings in <span class="hh1">{{biblebook_id}} {{! </span></h4> }}
    {{! <p>{{date}} {{! </p> }}
  </div>
</div>

<div class="view_bar">
  {{#if currentUser.isSignedIn}}
  <div class="vew_bar_right">
    {{#view App.EditLesson}}
      <span id="edit_button_id">{{id}}</span>
      <span class="button">Edit</span>
    {{/view}}
  </div>
  <div class="vew_bar_right">
    <a href='#' {{action 'destroy'}} class="button">Delete</a>
  </div>
  {{/if}}
   <div class="vew_bar_right">
    {{#linkTo "lessons" class="button"}}Back{{/linkTo}}
  </div>
</div>

<div class="row">
  <div class="lesson_container small-12 large-6 columns">
    <div class="lesson_wrapper">
      <img class="lesson_image play_this_lesson_image" {{bindAttr src="imageLargeUrl"}}>
      <div class="play_mark_large play_button paused">
        <div class="play_this_lesson_mp3">{{mp3}}</div>
        <div class="play_this_lesson_title" style="display:none">{{title}}</div>
        <div class="play_this_lesson_refurl" style="display:none">{{refurl}}</div>
        <div class="play_this_lesson_date" style="display:none">{{date}}</div>
      </div>
    </div>
  </div>
  <div class="lesson_container small-12 large-6 columns">

  </div>
</div>
