<div class="row">
  <div class="lesson_container large-6 small-12 columns">
    <div class="lesson_wrapper">
      <img class="lesson_image" id="art" {{bindAttr src="imageUrl"}}>
      <div class="play_mark_large play_button paused">{{mp3}}</div>
    </div>
  </div>
  <div class="lesson_info large-6 small-12 columns">
    <h2>{{title}}</h2>
    <p>{{summary}}</p>
    <p>{{date}}</p>
  </div>
</div>